apiVersion: v1
kind: Service
metadata:
  name: api
  namespace: fluence
  annotations:
    ovn.kubernetes.io/attachmentprovider: public.kube-system.ovn
    ovn.kubernetes.io/service_external_ip_from_subnet: subnet-temp
    ovn.kubernetes.io/vpc: ovn-cluster
    public.kube-system.ovn.kubernetes.io/logical_switch: subnet-temp
spec:
  type: LoadBalancer
  selector:
    app: api
  ports:
    - name: http
      port: 8080
      targetPort: 8080
      protocol: TCP
