apiVersion: apps/v1
kind: Deployment
metadata:
  name: controller
  namespace: fluence
  labels:
    app: controller
    app.kubernetes.io/name: controller
spec:
  replicas: 1
  revisionHistoryLimit: 10
  strategy:
    type: Recreate
  selector:
    matchLabels:
      app: controller
  template:
    metadata:
      labels:
        app: controller
        app.kubernetes.io/name: controller
    spec:
      serviceAccountName: controller
      securityContext:
        fsGroup: 1000
        runAsGroup: 1000
        runAsNonRoot: true
        runAsUser: 1000
        seccompProfile:
          type: RuntimeDefault
      containers:
        - name: controller
          image: docker.fluence.dev/crd-controller:0.1.0-rc0
          imagePullPolicy: IfNotPresent
          envFrom:
            - configMapRef:
                name: controller-config

          volumeMounts:
            - name: state
              mountPath: /data

          securityContext:
            allowPrivilegeEscalation: false
            capabilities:
              drop: ["ALL"]
            runAsGroup: 1000
            runAsNonRoot: true
            runAsUser: 1000
            seccompProfile:
              type: RuntimeDefault
      volumes:
        - name: state
          persistentVolumeClaim:
            claimName: controller-state
